<!-- 로그인 페이지 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
	<div id="inwrap02">
		<div class="p_title"><img src="/img/pet_icon13.png">내가 쓴 게시글 (모임게시판)</div>
		<div class="Btn_box03" style="margin-bottom:30px">
	       	<button class="Btn btn_left" sec:authorize="isAuthenticated()" aria-current="page" onClick="location.href='/members/mypage'">내정보</button>
	       	<button class="Btn btn_left" sec:authorize="isAuthenticated()" aria-current="page" onClick="location.href='/members/user'">회원정보수정</button>         
	       	<button class="Btn btn_left" sec:authorize="isAuthenticated()" aria-current="page" 
	       			onClick="location.href='/cart'">장바구니</button>
	       	<button class="Btn btn_left" sec:authorize="isAuthenticated()" aria-current="page" 
	       			onClick="location.href='/orders'">구매이력</button>          
	       	<button class="Btn Btn02 btn_left" sec:authorize="isAuthenticated()" aria-current="page" 
	       			onClick="location.href='/qna/list'">내 질문과답변</button> 
	       	<button class="Btn Btn02 btn_left" sec:authorize="isAuthenticated()" aria-current="page" 
	       			onClick="location.href='/board/myboard'">내가 쓴 수다글</button>
	       	<button class="Btn Btn02" sec:authorize="isAuthenticated()" aria-current="page" 
	       			onClick="location.href='/meeting/mymeeting'">내가 쓴 모임글</button>
       	</div>
		
		<table class="table01">
            <colgroup>
                <col width="10%"/>
                <col />
                <col width="10%"/>
                <col width="10%"/>
            </colgroup>
			<thead>
				<tr text-align="center">
					<th>게시글번호</th>
					<th>제목</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="meeting : ${mymeeting}">
					<td th:text="${meeting.id}"></td>
					<td style="text-align:left;"><a th:href="'/meeting/view/'+${meeting.id}" th:text="${meeting.title}"></a></td>
					<td><button type="button" class="Btn btn_mo"><a style="color:#fff;" th:href="'/meeting/modify/'+${meeting.id}">수정</a></button></td>
					<td><button type="button" class="Btn btn_del"><a style="color:#fff;" th:href="'/meeting/mymeeting/delete/'+${meeting.id}">삭제</a></button></td>
				</tr>
 			</tbody>
		</table>
		
		<div class="page_box">
			<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
				<a th:if="${page != nowPage}" th:href="@{/meeting/mymeeting(page = ${page -1})}" th:text="${page}"></a>
				<span th:if="${page == nowPage}" th:text="${page}"></span>
			<th:block>
		</div>
		
    </div>     
</div>

</html>